* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: #f3f6fb;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 380px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}



.active {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.role-toggle {
    display: flex;
    background: #eee;
    border-radius: 12px;
    padding: 4px;
    margin-bottom: 20px;
}

.role-toggle button {
    flex: 1;
    border-radius: 10px;
    padding: 10px 0;
    border: none;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    color: #555;
}

.role-toggle .active {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;

}

.input-box span {
    opacity: 0.6;
    margin-right: 10px;
}

.input-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
    /*            */
    align-items: center;
    font-size: 14px;
    margin: 12px 0 20px;
}

.options .forgot {
    text-decoration: none;
    color: #0d6efd;
}

.login-btn {
    width: 100%;
    padding: 16px;
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 25px 0;
    position: relative;
}

.divider span {
    background: #fff;
    padding: 0 12px;
    color: #888;
    text-align: center;
}

.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ddd;
    z-index: -1;
}

.social {
    display: flex;
    gap: 10px;
}

.social button {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.social button img {
    width: 16px;

}

.register {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #0d6efd;
    text-decoration: none;
}